
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* ==========NAVBAR NAVBAR NAVBAR ================= */
/* ==========NAVBAR NAVBAR NAVBAR ================= */
/* ==========NAVBAR NAVBAR NAVBAR ================= */

/*== VARIABLES ==*/
:root {
  --nav-header-height: 4rem;

  /*=== Colors ===*/
  --nav-color: hsl(0, 0%, 96%);
  --nav-color-dark: hsl(0, 0%, 90%);
  --nav-color-darker: hsl(0, 0%, 80%);
  --nav-white-color: #333333;
  --nav-icon-color:#000080; 
  --nav-body-color: hsl(0, 0%, 97%);

  /*=== Font and typography ===*/

  --nav-body-font: "Montserrat", sans-serif;
  --nav-normal-font-size: .938rem;

  --nav-font-regular: 400;
  --nav-font-semi-bold: 600;

  /*=== z index ===*/
  --nav-z-tooltip: 10;
  --nav-z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --nav-normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--nav-body-font);
  font-size: var(--nav-normal-font-size);
  background-color: var(--nav-body-color);

}

html, body {
  height: 100%;        
  margin: 0;           
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;             /* pushes footer down */
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--nav-z-fixed);
}


/*=============== NAV ===============*/
.nav{
    height: var(--nav-header-height);
}

.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--nav-font-semi-bold);
}

.nav__logo img{
    font-weight: initial;
    font-size: 1.25rem;
    height: 3rem;
    margin: 0.5rem;

}

.nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;
}

    

.nav__close{
    color: var(--nav-icon-color);
}

.nav__close {
  position: absolute;
  inset: 0;              
  display: flex;         
  align-items: center;
  justify-content: center;
  width: 32px;
    height: 32px;

  font-size: 1.25rem;    /* icon size */
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}


.nav__close{
    opacity: 0;
}

.nav__data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* Navigation for mobile devices */
@media screen and (max-width:1118px){
    .nav__menu{
        position:absolute;
        left: 0 ;
        top: 2.5rem;
        width: 100%;
        background-color: var(--nav-color);
        height: calc(100vh - var(--nav-header-height));
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar{
        width: 0;
    }
    .nav__list{
        background-color: var(--nav-color);
        padding-top: 1rem;
    }

}

.nav__link{
    color: var(--nav-white-color);
    background-color: var(--nav-color);
    font-weight: var(--nav-font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav__link:hover{
    background-color: var(--nav-color-dark);
    color: var(--nav-white-color);
}

/* Show menu */

.show-menu{
    opacity: 1;
    top: 4rem;
    pointer-events: initial;
}


/* Show icon */

.show-icon .nav__burger{
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close{
    opacity: 1;
    transform: rotate(90deg);
}


/*=============== DROPDOWN ===============*/
/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--nav-white-color);
  background-color: var(--nav-color-dark);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--nav-font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--nav-color-darker);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}


/* Rotate dropdown icon */


/*=============== DROPDOWN SUBMENU ===============*/


/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--nav-color-darker);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--nav-header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 100%;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

.main-heading{
    border-bottom: 2px solid #fdd831;
    margin-bottom: 1em;
    display: inline-block;
    padding-bottom: 0.3em;
}

/* ============== video section =================== */
/* ============== video section =================== */
/* ============== video section =================== */

.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  z-index: -1;         
}


.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0,0,0,0.3), 
    rgba(0,0,0,0.3)
  );
  z-index: -1; 

}

/* ============== intro section =================== */
/* ============== intro section =================== */
/* ============== intro section =================== */

.intro-text{
    justify-content: center;
    text-align: center;
    margin-top: 8vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom:8vh;
}

.intro-text h2{
    margin-bottom: 3vh;
}
.intro-text p{
    margin-top:1vh;
}

/* ============== footprint secction =================== */

.footprints{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin-bottom: 7vh;


}

.footprints img {
  height: 12vh;                
  opacity: 0;                  
  animation: fadeInOut 4s infinite;
  transform: rotate(90deg);
}
.footprints img:nth-child(1) { transform: rotate(65deg); animation-delay: 0s; }
.footprints img:nth-child(2) { transform: rotate(110deg); animation-delay: 0.4s; }
.footprints img:nth-child(3) { transform: rotate(87deg); animation-delay: 0.8s; }
.footprints img:nth-child(4) { transform: rotate(94deg); animation-delay: 1.2s; }
.footprints img:nth-child(5) { transform: rotate(89deg); animation-delay: 1.6s; }
.footprints img:nth-child(6) { transform: rotate(91deg); animation-delay: 2s; }

@keyframes fadeInOut {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
 

/* ============= impact section =================== */
/* ============= impact section =================== */
/* ============= impact section =================== */

.counter h1{
  color: rgb(145, 199, 145);
  
}
.counter h3{
  font-size: 1em;
}

.impact-text{
  text-align: center;
}

.impact-text h2{
  text-align: center;

}

.counters{
    padding: 3em 2em;
    text-align: center;

}

.counters > div{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4em 2em;
}

.counter {
    position: relative;
}

.counter h1{
    font-size: 3em;
    margin-bottom: 0.3em;
}

/* .counter:not(:last-child)::before{
    content:'';
    position: absolute;
    background-color: #333333;
    width: 2px;
    height: 3em;
    top:50%;
    transform: translateY(-50%);
    right:-1em;

} */

@media screen and (max-width:900px) and (min-width:501px){
    .counters > div{
        grid-template-columns: 1fr 1fr;
    }
    .counter:nth-child(2)::before{
        display:none;
    }
}

@media screen and (max-width:500px){
    .counters > div {
        grid-template-columns: 1fr;
        row-gap: 5em;

    }

}

.impact-text h2{
    text-align: center;
}

.impact_section {
    margin-bottom: 5vh;
}




/* ================= division info ==================
================= division info ==================
================= division info ================== */
.division-info{
  border-bottom: #333333 1px dotted;
  border-top: #333333 1px dotted;
  margin-left: 5vw;
  margin-right: 5vw;;
  margin-top: 5vh;
}
.division{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  gap : 2em;
  flex-wrap: wrap;
  font-size: 0.9em;
  text-align: center;
  margin-top: 5vh;
}

.divi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.divi img{
  height: 4vh;
  object-fit: contain;
  margin-right: 0.5em;
}


/* ================= presence section =================
================= presence section =================
================= presence section ================= */

.presence-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.presence-text {
  text-align: center;
  margin: 2rem 0;
  width: 50vw;
  padding: 5vw;
  padding-left: 12vw;
  

}

.india-map {
  margin: 0 auto;
  width: 70vw;
  height: 80vh;
  object-fit: contain;
}

.india-map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.presence-text h2{
  margin-bottom: 2vh;
}

.presence-text p{
  margin-top: 1vh;
  line-height: 1.5;
}


/* ============ footer =========== */
/* ============ footer =========== */
/* ============ footer =========== */

.footer{
  background-color: rgb(228, 228, 228);
  padding-top: 10vh;

}

.footer1{
  display: flex;
  padding-left: 15vw;
  padding-right: 15vw;
  justify-content: center;
  padding-bottom: 10vh;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5em;
}

.alllogos{
  display: flex;
}


input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  margin: 1em;
  margin-bottom: 0.1em;
  width: 43%;

}

.writetous{
  text-align: center;
  margin-right: 5vw;
}
textarea{
  width: 94%;
  padding: 0.75rem;

}

.writetous button{
  height: 2.5em;
  width: 7em;
  margin-top: 0.5em;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color:var(--nav-body-color)
}


.getintouch{
  text-align: center;
  margin-left: 5vw;
}

.getintouch h4{
  margin-top: 0.5em;
}

.footer2{
  background-color: #333333;
  height: 40vh;
  display: flex;
  justify-content: center;
  color:var(--nav-body-color)
  
}

.fcontent{
  margin: 5vw;
}

.fcontent h4{
  margin-bottom: 0.6em;
}

.fcontent p{
  font-size: 0.9em;
  line-height: 1.5;
}

.footer3{
  height: 8vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.footer3 p{
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 0.8em;
}


/* ================== image slider =================== */
/* ================== image slider =================== */
/* ================== image slider =================== */

.slider-section-heading{
  text-align: center;
  margin-top: 3em;
}

.card-image{
  position: relative;
  height: 250px;
  width: 350px;
  border-radius: 5%;
  background: #FFF;
  padding: 3px;

}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
  border: 4px solid #fdd831;

}

.card{
  width: 370px;
  border-radius: 25px;
  background-color: #FFF ;
  box-shadow: 0 4px 10px rgba(196, 196, 196, 0.2);
  
}

.image-content , .card-content{
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 10px 14px ;

}

.image-content{
  row-gap: 5px;
  position: relative;
}


.slide-content{
  margin: 0 40px;
}

.name{
  font-size: 1.3em;
  margin-bottom: 0.5em;
  
}

.description{
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.button{
  border: none;
  font-size: 1em;
  background-color: #fdd831;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;

}

.button:hover{
  background-color: #eccb39;
  transition: 0.3s;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: grey;
  padding: 40px 0 ;

}
